node_modules
/lint/win.env
/lint/nix.env
/logs/
/inbox/
scripts/.env
/frontend/dist/
/deploy/observability/application/metrics/data.json
/infrastructure/observability/application/metrics/data.json
/frontend/.env
/tasks/
/backup/
!backup/README.md
/.runtime/
/frontend/test-results/
/operational/
!/operational/.gitkeep
/deploy/.env
/infrastructure/.env
/backend/apps/ShopAPI/storage/
/vendor/
/.php-cs-fixer.cache
/.php-cs-fixer.dist.php
