node_modules
dist
.DS_Store
.vscode
/.idea/
/src/mocks/
/lint/win.env
/lint/nix.env
/logs/
/.vite/
/inbox/
scripts/.env
test-results/
playwright-report/
/frontend/.vite/
/frontend/dist/
/deploy/metrics/data.json
/frontend/scripts/.env
/backup/etc/
/frontend/src/mocks/
/tasks/
/backup/
!backup/README.md
/frontend/.env
