APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost
APP_KEY=
DB_CONNECTION=sqlite
SESSION_DRIVER=database
CACHE_STORE=database
QUEUE_CONNECTION=database
FILESYSTEM_DISK=public
AUTOTEKA_MEDIA_DISK=public
MOONSHINE_ADMIN_NAME=MoonShine Admin
MOONSHINE_ADMIN_EMAIL=admin@example.com
MOONSHINE_ADMIN_PASSWORD=admin12345
