:root {
  /*--bg: #ffffff;*/
  --text: #0f172a;
  --border: rgba(13, 26, 111, 0.35);
  --focus: #f97316;
  --content-max-width: 80rem;
  --catalog-grid-gap: 1.125rem;
  --catalog-grid-columns-mobile: 2;
  --catalog-grid-columns-3xl: 3;
  --catalog-grid-columns-7xl: 4;
  --catalog-grid-bottom-padding: 9.5rem;
  --catalog-feature-max-width: 24rem;
  --catalog-feature-min-height: 4.25rem;
  --catalog-feature-radius: 999px;
  --transform-scale-normal: 1;
  --transform-scale-weak: 1.1;
  --transform-scale-regular: 1.2;
  --transform-scale-strong: 1.3;
}

.app {
  color: var(--text);
  /*background: var(--bg);*/
}
