NPX_PATH=npx
PRETTIER_PATH=prettier
ESLINT_PATH=eslint
STYLELINT_PATH=stylelint

PSSCRIPTANALYZER_MODULE=PSScriptAnalyzer

PHP_CS_FIXER_PATH=
PHP_CS_PATH=

YAMLLINT_PATH=C:\Users\SbWereWolf\AppData\Local\Programs\Python\Python313\Scripts\yamllint.exe
SQLFLUFF_PATH=C:\Users\SbWereWolf\AppData\Local\Programs\Python\Python313\Scripts\sqlfluff.exe
DOTENV_LINTER_PATH=C:\Users\SbWereWolf\AppData\Local\Programs\Python\Python313\Scripts\dotenv-linter.exe

HADOLINT_PATH=C:\WORK\kv1.me\kanban-agents-team\.bin\hadolint-windows-x86_64.exe
PLANTUML=C:\WORK\kv1.me\kanban-agents-team\.bin\plantuml-gplv2-1.2026.1.jar
