NPX_PATH=npx
PRETTIER_PATH=prettier
ESLINT_PATH=eslint
STYLELINT_PATH=stylelint

PSSCRIPTANALYZER_MODULE=

PHP_CS_FIXER_PATH=php-cs-fixer
PHP_CS_PATH=phpcs

YAMLLINT_PATH=yamllint
SQLFLUFF_PATH=sqlfluff
DOTENV_LINTER_PATH=dotenv-linter

HADOLINT_PATH=hadolint
PLANTUML=
