NPX_PATH=npx
PRETTIER_PATH=prettier
ESLINT_PATH=eslint
ESLINT_CONFIG_PATH=${LINT_REPO_ROOT}/eslint.config.js
STYLELINT_PATH=stylelint
STYLELINT_CONFIG_PATH=${LINT_REPO_ROOT}/.stylelintrc.json
PRETTIER_XML_PLUGIN_PATH=${LINT_REPO_ROOT}/node_modules/@prettier/plugin-xml/src/plugin.js
PRETTIER_SH_PLUGIN_PATH=${LINT_REPO_ROOT}/node_modules/prettier-plugin-sh/lib/index.cjs
PRETTIER_SQL_PLUGIN_PATH=${LINT_REPO_ROOT}/node_modules/prettier-plugin-sql/lib/index.cjs

PSSCRIPTANALYZER_MODULE=

PHP_CS_FIXER_PATH=php-cs-fixer
PHP_CS_PATH=phpcs

YAMLLINT_PATH=yamllint
SQLFLUFF_PATH=sqlfluff
DOTENV_LINTER_PATH=dotenv-linter
XMLLINT_PATH=xmllint

HADOLINT_PATH=hadolint
MAKEFILE_FORMATTER_PATH=mbake
PLANTUML=
PUMLFORMAT_PATH=pumlformat
