NPX_PATH=npx
PRETTIER_PATH=prettier
ESLINT_PATH=eslint
ESLINT_CONFIG_PATH=${LINT_REPO_ROOT}/eslint.config.js
STYLELINT_PATH=stylelint
STYLELINT_CONFIG_PATH=${LINT_REPO_ROOT}/.stylelintrc.json
PRETTIER_XML_PLUGIN_PATH=${LINT_REPO_ROOT}/node_modules/@prettier/plugin-xml/src/plugin.js
PRETTIER_SH_PLUGIN_PATH=${LINT_REPO_ROOT}/node_modules/prettier-plugin-sh/lib/index.cjs
PRETTIER_SQL_PLUGIN_PATH=${LINT_REPO_ROOT}/node_modules/prettier-plugin-sql/lib/index.cjs

PSSCRIPTANALYZER_MODULE=PSScriptAnalyzer

PHP_CS_FIXER_PATH=
PHP_CS_PATH=

YAMLLINT_PATH=C:\Users\SbWereWolf\AppData\Local\Programs\Python\Python313\Scripts\yamllint.exe
SQLFLUFF_PATH=C:\Users\SbWereWolf\AppData\Local\Programs\Python\Python313\Scripts\sqlfluff.exe
DOTENV_LINTER_PATH=C:\Users\SbWereWolf\AppData\Local\Programs\Python\Python313\Scripts\dotenv-linter.exe
XMLLINT_PATH=xmllint

HADOLINT_PATH=C:\WORK\kv1.me\kanban-agents-team\.bin\hadolint-windows-x86_64.exe
MAKEFILE_FORMATTER_PATH=mbake
PLANTUML=C:\WORK\kv1.me\kanban-agents-team\.bin\plantuml-gplv2-1.2026.1.jar
PUMLFORMAT_PATH=pumlformat
