[Unit]
Description=Run Autoteka watch-changes timer every 5 minutes

[Timer]
OnBootSec=2min
OnUnitInactiveSec=5min
RandomizedDelaySec=20
Persistent=true
Unit=watch-changes.service

[Install]
WantedBy=timers.target
