# Путь к интерпретатору bash
SCRIPT_BASH_PATH=

# Путь к исполняемому файлу node
SCRIPT_NODE_PATH=

# Путь к исполняемому файлу npx
SCRIPT_NPX_PATH=

# Количество потоков на модуль для verify-тестов
TEST_PARALLEL_WORKERS=2
